@import "../../styles/variables";

.vui-btn{
  display: inline-block;

  white-space: nowrap;
  color: rgba(0, 0, 0, 0.65);
  background-color: $gray-1;
  background-image: none;
  
  text-align: center;

  height: 32px;
  padding: 4px 15px;
  font-size: 14px;
  font-weight: 400;
  font-family: $btn-font-family;

  outline: none;
  text-transform: none;

  height: 32px;
  line-height: 1.5715;

  position: relative;
  margin: 0;
  border: 1px solid transparent;
  border-color: $gray-5;

  cursor: pointer;
  text-transform: none;
  overflow: visible;

  -webkit-box-shadow: 0 2px 0 rgba(0, 0, 0, 0.015);
          box-shadow: 0 2px 0 rgba(0, 0, 0, 0.015);
  -webkit-transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -ms-touch-action: manipulation;
      touch-action: manipulation;

  &::-moz-focus-inner{
    border-style: none;
    padding: 0;
  }

  &:focus {
    outline: none;
  }
  &:active {
    outline: none;
  }

  &:hover {
    color: $blue;
    border-color: $blue;
  }
  // shape类型
  &-round {
    border-radius: 4px;
  }
  &-circle {
    border-radius: 50%;
  }
  &-circle.vui-btn-default {
      min-width: 32px;
      padding: 0;
      height: 32px;
      width: 32px;
  }
  &-circle.vui-btn-large {
      min-width: 40px;
      padding: 2px;
      height: 40px;
      width: 40px;
  }
  &-circle.vui-btn-small {
      min-width: 28px;
      padding: 0;
      height: 28px;
      width: 28px;
  }
  // size大小
  &-large {
    font-size: 16px;
    height: 40px;
    padding: 6.4px 15px;
  }
  &-small {
    font-size: 14px;
    height: 28px;
    padding: 0 7px;
  }


  &[disabled] {
    cursor: not-allowed;
    color: rgba(0, 0, 0, 0.65);
    background-color: $gray-5;
    border-color: $gray-5;
    -webkit-transition: none;
    transition: none;

  }
  &[disabled]:hover {
    color: rgba(0, 0, 0, 0.65);
    background-color: $gray-5;
    border-color: $gray-5;
    -webkit-transition: none;
    transition: none;
    cursor: not-allowed;
  }

  &.block {
    display: block;
    width: 100%;
  }
  
}
// a 标签
.vui-btn-text {
  color: $blue;
  border: 0;
  border-radius: 0;
  background: transparent;
  -webkit-box-shadow: none;
  box-shadow: none;
  &:hover {
    color: #40a9ff;
    text-decoration: none;
    box-shadow: none;
  }
  &.disabled,
  &.disabled:hover {
    color: rgba(0, 0, 0, 0.25);
    cursor: not-allowed;
    // pointer-events: none;
  }
  &:not([href]), 
  &:not([href]):hover {
    color: $blue;
    text-decoration: none;
  }
}

.vui-btn-primary {
  background-color: $blue;
  color: #fff;
  box-shadow: none;
  border-color: transparent;
  &:hover{
    background-color: #40a9ff;
    color: #fff;
    box-shadow: none;
    border-color: transparent;
  }
}





